/* custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mochiy Pop P One", sans-serif;
}

/*************************************************************** header */
.header-bg {
  background-color: #f08080;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-weight: bold;
}

.fas.fa-globe-americas {
  margin-right: 0.3rem;
  font-size: 3rem;
}

.top-title {
  margin-left: 0.3rem;
  font-size: 1.3rem;
}

/*************************************************************** main */
ul {
  list-style: none;
}
