/* custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #000000;
  cursor: default;
}

/*************************************************************** header */
.header-bg {
  background-color: #f08080;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.fas.fa-globe-americas {
  margin-right: 0.3rem;
  font-size: 3rem;
}

.top-title {
  margin-left: 0.3rem;
  font-size: 1.3rem;
}

/*************************************************************** main */
.travel-image {
  height: 20rem;
  width: 14rem;
  border-radius: 1rem;
}

.travel-info {
  list-style: none;
  margin-top: 1.5rem;
}

.travel-info li:first-child {
  margin-bottom: 1rem;
}

.fas.fa-map-marker-alt {
  color: #f08080;
  font-size: 1.5rem;
}

.country-name {
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

.map-link {
  text-decoration: none;
  color: #b0b0b0;
  border-bottom: solid 0.2rem #b0b0b0;
  font-size: 1rem;
}

.travel-info li:nth-child(2) {
  margin-bottom: 2rem;
}

.location-name {
  font-size: 2rem;
}

.travel-info li:nth-child(3) {
  margin-bottom: 0.8rem;
}

.date {
  font-size: 1.2rem;
}

.location-para {
  line-height: 1.9rem;
  margin-bottom: 2rem;
}
