/* custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #000000;
  cursor: default;
}

/*************************************************************** header */
.header-bg {
  background-color: #f08080;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.fas.fa-globe-americas {
  margin-right: 0.3rem;
  font-size: 3rem;
}

.top-title {
  margin-left: 0.3rem;
  font-size: 1.3rem;
}

/*************************************************************** main */
.travel-holder {
  margin: 2rem 2rem 8rem;
}

.image-holder {
  text-align: center;
  margin-bottom: 1.5rem;
}

.travel-image {
  height: 20rem;
  width: 14rem;
  border-radius: 1rem;
}

.travel-image:hover {
  border: solid 0.5rem #f08080;
}

.travel-info {
  list-style: none;
}

.first-info {
  margin-bottom: 1.5rem;
}

.fas.fa-map-marker-alt {
  color: #f08080;
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.country-name {
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.map-link {
  text-decoration: none;
  color: #b0b0b0;
  border-bottom: solid 0.2rem #b0b0b0;
  font-size: 1rem;
}

.map-link:hover {
  font-size: 1.1rem;
  color: #f08080;
  border-bottom: solid 0.2rem #f08080;
}

.second-info {
  margin-bottom: 2rem;
}

.location-name {
  font-size: 2rem;
}

.third-info {
  margin-bottom: 1.5rem;
}

.date-range {
  font-size: 1.2rem;
}

.location-para {
  line-height: 1.9rem;
}

/*************************************************************** media queries */
@media (min-width: 557px) {
  /* main */
  .image-holder {
    float: left;
    margin-right: 2rem;
  }
}
